extends layout.pug
block content
	.container
		h1#index-heading-1 Is your business as safe as you think?
		
		div#index-center-div
			img(class='img-left')
			img(class='img-right')
			img(class='img-btm-left',src="/make-a-note.jpg")
			img(class='img-btm-right',src="/forest-background2.jpg")
		button.btn.btn-primary#btnGetData(type='button', value='Hi', text='hi') Hello