extends layout.pug
block content
	.container
		section.sectGet
			h3#indexHeadingGrey(style="background-color: grey; padding:1rem;") Category 2: Passwords | Feedback
			a(href='#')
				button.btn.btn-primary#btnGetAnswer(type='button') Get Feedback
		div#displayData 
				div#q6Feedback.feedbackTile
				div#q7Feedback.feedbackTile
				div#q8Feedback.feedbackTile
				div#q9Feedback.feedbackTile
				div#q10Feedback.feedbackTile
				button.btn.btn-success#btnNext12(type='button') Next
				style(type="text/css").
					body {background-image: url("./photo-of-earth.jpg"); }
