extends layout.pug
block content
	.container
		section.sectGet
			h2#indexHeadingGrey(style="background-color:#87CEFA; padding:1rem;") Category 3: Security Awareness | Feedback
			a(href='#')
				button.btn.btn-primary#btnGetAnswer(type='button') Get Feedback
		div#displayData 
				div#q11Feedback.feedbackTile
				div#q12Feedback.feedbackTile
				div#q13Feedback.feedbackTile
				div#q14Feedback.feedbackTile
				div#q15Feedback.feedbackTile
				button.btn.btn-success.btnResult#btnNext18(type='button') Next
				style(type="text/css").
					body {background-image: url("./photo-of-earth.jpg"); }
