extends layout.pug
block content
	.container
		h1.categoryHeading Category 3: Security Awareness
		div#indexCenterDiv
			div#quizDiv
				div#captionBoxDiv
					img(class='quizImgQ1', src="awareness-event-600px.jpg", alt="Image of event hall or conference room.")
					h3.textLeft.questionHeading 13:
						h4.questionHeading How many security awareness training events have you had at your company?
						form(role='form',id='myForm',action="/security-test",method="post")
							div.radioDiv(style="margin-left:30px;display:inline-block;margin-top:35px;")
								input(type='radio', id='more-than-five', name='selection', value='More than Five')
								label.lblSpacing(for='more-than-five') 5+
								input(type='radio', id='four-events', name='selection', value='Four')
								label.lblSpacing(for='four-events') 4
								input(type='radio', id='three-events', name='selection', value='Three')
								label.lblSpacing(for='three-events') 3							
								input(type='radio', id='two-events', name='selection', value='Two')
								label.lblSpacing(for='two-events') 2
								input(type='radio', id='one-event', name='selection', value='One')
								label.lblSpacing(for='one-event') 1
							div.formButtons
								button.btn.btn-success#btnSubmit1(type='submit') Submit
								button.btn.btn-success#btnNext15(type='button') Next
								button.btn.btn-success.homeButton#btnHome(type='button') Home
								style(type="text/css").
									body {background-color:#87CEFA;}
								