extends layout.pug
block content
	.container
		h1.categoryHeading Category 3: Security Awareness
		div#indexCenterDiv
			div#quizDiv(style="height: 835px !important;")
				div#captionBoxDiv
					img(class='quizImgQ1', src="awareness-promotion-600px.jpg", alt="Image of communication methods in cyber security awareness.")
					h3.textLeft.questionHeading 14:
						h4.questionHeading How many of the following methods has security awareness been promoted to you with?
						form(role='form',id='myForm',action="/security-test",method="post")
							ul.listQuestion
								li.multiQuestionList (A) E-mail
								li.multiQuestionList (B) Occasional meetings
								li.multiQuestionList (C) Monthly meetings
								li.multiQuestionList (D) Leaflets/Flyers
								li.multiQuestionList (E) Posters
							div.radioDiv(style="display:inline-block;margin-top:10px;margin-bottom:10px;")
								input(type='radio', id='all-of-the-above', name='selection', value='All of the above')
								label.lblSpacing(for='all-of-the-above') All of the above
								input(type='radio', id='many-of-the-above', name='selection', value='Many of the above')
								label.lblSpacing(for='many-of-the-above') Many of the above
								input(type='radio', id='most-of-the-above', name='selection', value='Most of the above')
								label.lblSpacing(for='most-of-the-above') Most of the above
								input(type='radio', id='some-of-the-above', name='selection', value='Some of the aboves')
								label.lblSpacing(for='some-of-the-above') Some of the above
								input(type='radio', id='none-of-the-above', name='selection', value='None of the above')
								label.lblSpacing(for='none-of-the-above') None of the above
							div.formButtons
								button.btn.btn-success#btnSubmit1(type='submit') Submit
								button.btn.btn-success#btnNext16(type='button') Next
								button.btn.btn-success.homeButton#btnHome(type='button') Home
							style(type="text/css").
								body {background-color:#87CEFA;}